/* -------------------------------- 

xcontent 

-------------------------------- */
main {
  position: relative;
  height: 100vh;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
  box-shadow: 0 0 30px #241d20;
}
main.scale-down {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}

/*.cd-section {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform 0s 0.4s;
  -moz-transition: -moz-transform 0s 0.4s;
  transition: transform 0s 0.4s;
}
.cd-section.cd-selected {
  position: relative;
  z-index: 2;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.4s 0s;
  -moz-transition: -moz-transform 0.4s 0s;
  transition: transform 0.4s 0s;
  -webkit-overflow-scrolling: touch;
}*/
.cd-section header {
  height: 100vh;
  background-image:none;
  background-position: 45% 45%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -webkit-transition: background-position .5s;
  -moz-transition: background-position .5s;
  -ms-transition: background-position .5s;
  -o-webkit-transition: background-position .5s;
  transition: background-position .5s;
}

.cd-section .mask{
		width: 100%;
    height: 100%;
    background: #000;
    opacity: .2;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 3;
}
@media only screen and (min-width: 700px) {
  .cd-section {
    /* not 100vh to fix a small bug --> border visible otherwise */
    header: 102vh;
  }
}

.cd-title {
  position: relative;
  top: 48%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #fff;
  text-align: center;
  z-index: 4;
  display: none;
}
.cd-title > * {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-title span {
  font-size: 6rem;
	font-weight: 600;
	padding: 15px;
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	display: inline-block;
}
.cd-title .span1{
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}
.cd-title .span2{
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}
.cd-title .span3{
}
.cd-title .span4{
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}
.cd-title .span5{
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}
.cd-title a {
  display: inline-block;
  padding: 1.2em 1.6em;
  border-radius: 50em;
  border: 2px solid rgba(255, 255, 255, 0.5);
  font-weight: 700;
  color: #ffffff;
  font-family: "Lora", serif;
}
.no-touch .cd-title a:hover {
  border-color: #ffffff;
}
.cd-title2 {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #fff;
  text-align: center;
  z-index: 4;
  display: none;
}
.cd-title2 a{
	padding: 15px 25px;
	border: 1px solid #ccc;
	display: inline-block;
	letter-spacing: 5px;
	text-indent: 5px;
	text-align:center;
	font-size: 1.3rem;
	color: #fff;
}

@media only screen and (max-width: 768px) {
  .cd-title span {
    font-size: 2.8rem;
    padding: 3px;
  }
  .cd-title2 a {
    padding: 10px 15px;
  }
}

.cd-content {
  background-color: #ffffff;
  padding: 4em 0;
}
.cd-content p {
  width: 90%;
  max-width: 800px;
  margin: 2em auto;
  line-height: 2;
  color: #78626a;
}

.no-js main, .no-js .cd-section {
  height: auto;
  overflow: visible;
}

.no-js .cd-section {
  position: static;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.no-js .cd-nav-container {
  width: 100%;
  position: static;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  height: auto;
  overflow: visible;
}

.no-js .cd-close-nav {
  display: none;
}

.no-js .cd-nav li {
  width: 50%;
  float: left;
}
@media only screen and (min-width: 700px) {
  .no-js .cd-nav li {
    width: 33.3%;
    float: left;
  }
  .no-js .cd-nav li:nth-of-type(2n) a {
    border-right-width: 1px;
  }
}
@media only screen and (min-width: 1024px) {
  .no-js .cd-nav li {
    width: 16.66%;
    float: left;
  }
  .no-js .cd-nav li:nth-of-type(3n) a {
    border-right-width: 1px solid #e0cf75;
  }
}

